<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<div class="container-fluid">
			<div class="row mb-5">
				<div class="col-sm-12 text-center mb-4">
					<h1 style="text-align: center;">Upload Affidavit File</h1>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group vv-inputwithicon">
								<i class="fa fa-file-o"></i>

								<input type="file" ng-model="affpdffile" class="form-control" data-ak-file-model="userfilename.attachment" />
								<span style="color:red">(Only PDF File - Max 2MB)</span>
							</div>

						</div>
						<div class="col-sm-4 mt-4">
							<input type="button" class="btn btn-success" value="Uplaod" ng-click="uploadfile(userfilename);" />
						</div>
					</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

