<div class="loader" ng-show="preloader"></div>
<div class="container">
	<div class="row mt-3">
		<div class="col-sm-12 mb-3 text-center">
			<h2 class="title-header">Forgot Password</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 offset-2 mb-3">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="row m-3">
								<div class="col-sm-12 ">
									<div class="form-group form-row ">
										<label class="col-form-label col-sm-3 text-right">User Name : </label>
										<div class="col-sm-5" ng-show="div==1">
											<input type="text" class="form-control" maxlength="20" placeholder="Enter Your Registered User Name" ng-model="enteredusername">
										</div>
										<div class="col-sm-5"  ng-show="div=='2'||div=='3'">
											<input type="text" disabled class="form-control" maxlength="20" placeholder="Enter Your Registered User Name" ng-model="enteredusername">
										</div>
										<div class="col-sm-3 " ng-show="div==1">
											<button class="btn btn-primary btn-block" ng-click="sendotp();">Send</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row m-3"  ng-show="div==2">
								<div class=" col-sm-12 ">
									<div class="form-group form-row ">
										<label class="col-form-label col-sm-3 text-right">Enter OTP : </label>
										<div class="col-sm-5 ">
											<input type="text" maxlength="6" placeholder="Enter OTP Sent to Your Registered Mobile No." class="form-control" ng-model="entredotp">
										</div>
										<div class="col-sm-3 ">
											<button class="btn btn-primary btn-block" ng-click="verifyotp();">Verify OTP</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-show="div==3">
		<div class="col-sm-8 offset-2 ">
			<div class="card">
				<div class="card-body">
					<div class="row mt-2">
						<div class="col-sm-12">
							<div class="row m-3">
								<div class="col-sm-12 ">
									<div class="form-group form-row ">
										<label class="col-form-label col-sm-4 text-right">New Password : </label>
										<div class="col-sm-8 ">
											<input type="password" ng-change="changenewpwd();" ng-model="newpassword" class="form-control" placeholder="Enter New Password">
										</div>
									</div>
								</div>
								<div class="col-sm-12" ng-show="divpwdstrength">
									<div class="form-group form-row ">
										<label class="col-form-label">Password should contain atlease 1 Capital letter,1 small letter,number and a special character</label>
									</div>
								</div>

								<div class="col-sm-12 ">
									<div class="form-group form-row ">
										<label class="col-form-label col-sm-4 text-right">Confirm Password : </label>
										<div class="col-sm-8 ">
											<input type="password" ng-change="changecngpwd();" ng-model="confirmpassword" class="form-control" placeholder="Re-Enter Password">
										</div>
									</div>
								</div>
								<div class="col-sm-12" ng-show="divpwdmatching">
									<div class="form-group form-row ">
										<label class="col-form-label">New Password & Confirm Password should be matched</label>
									</div>
								</div>
								<div class="col-sm-8 offset-4 ">
									<div class="form-group ">
										<button type="button" ng-click="update();" class="btn bg-dark btn-block float-right ">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
