<div class="loader" ng-show="preloader"></div>
<script src="assets/js/jquery.min.js"></script>
<script src="Reports/excel.js"></script>
<script src="Reports/js/function.js"></script>
<script src="Reports/js/Chart.bundle.min.js"></script>
<script src="Reports/js/tableHeadFixer.js"></script>
<script src="Reports/select-search.js"></script>
<style type="text/css">
    /*Count Styles*/
    .card-blue::after {
        background: #fff !important;
    }

    .card.card-blue {
        border: 1px solid #007bff;
    }

        .card.card-blue p {
            color: #007bff;
        }

    .card-blue .progress .progress-value .h6 {
        color: #007bff;
        font-weight: 700;
        font-size: 13px;
    }

    .card-blue .progress .border-white {
        border-color: #007bff !important;
    }

    .card-blue .progress::after {
        border: 5px solid rgba(0, 123, 255, 0.205);
    }

    .card-green::after {
        background: #fff !important;
    }

    .card.card-green {
        border: 1px solid #28a745;
    }

        .card.card-green p {
            color: #28a745;
        }

    .card-green .progress .progress-value .h6 {
        color: #28a745;
        font-weight: 700;
        font-size: 13px;
    }

    .card-green .progress .border-white {
        border-color: #28a745 !important;
    }

    .card-green .progress::after {
        border: 5px solid rgba(0, 123, 255, 0.205);
    }

    .card-red::after {
        background: #fff !important;
    }

    .card.card-red {
        border: 1px solid #dc3545;
    }

        .card.card-red p {
            color: #dc3545;
        }

    .card-red .progress .progress-value .h6 {
        color: #dc3545;
        font-weight: 700;
        font-size: 13px;
    }

    .card-red .progress .border-white {
        border-color: #dc3545 !important;
    }

    .card-red .progress::after {
        border: 5px solid rgba(0, 123, 255, 0.205);
    }

    .card-yellow::after {
        background: #fff !important;
    }

    .card.card-yellow {
        border: 1px solid #9b35ca;
    }

        .card.card-yellow p {
            color: #6610f2;
        }

    .card-yellow .progress .progress-value .h6 {
        color: #6610f2;
        font-weight: 700;
        font-size: 13px;
    }

    .card-yellow .progress .border-white {
        border-color: #6610f2 !important;
    }

    .card-yellow .progress::after {
        border: 5px solid rgba(0, 123, 255, 0.205);
    }

    .border-white {
        background-color: #fff;
    }

    .cumulative-counts.card {
        margin-bottom: 5px;
        height: 75px;
        justify-content: center;
        padding: 10px 0;
        border-radius: 5px;
        box-shadow: 0 2px 8px #ccc
    }

    .cumulative-counts .card-block {
        padding: 0 5px;
    }

    .cumulative-counts label {
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
        width: 100%;
        color: #5f5f5f;
    }

        .cumulative-counts label span {
            font-weight: bold;
        }

    .cumulative-counts p {
        font-size: 12px;
        font-weight: 700;
        color: #5f5f5f;
    }

    .cumulative-counts h4 {
        font-weight: bold;
        color: #000;
    }

    .cumulative-counts p,
    .cumulative-counts h4 {
        margin-bottom: 0;
    }

    .progress {
        width: 60px;
        height: 60px;
        background: none;
        position: relative;
        transition: all 0.3s ease-in-out;
        filter: drop-shadow(0px 5px 2px rgba(43, 43, 43, 0.2));
    }

        .progress::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 4px solid #eee9;
            position: absolute;
            top: 0;
            left: 0;
        }

        .progress > span {
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .progress .progress-left {
            left: 0;
        }

        .progress .progress-bar {
            width: 100%;
            height: 100%;
            background: none;
            border-width: 5px;
            border-style: solid;
            position: absolute;
            top: 0;
        }

        .progress .progress-left .progress-bar {
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }

        .progress .progress-right {
            right: 0;
        }

            .progress .progress-right .progress-bar {
                left: -100%;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
            }

        .progress .progress-value {
            position: absolute;
            top: 5px;
            left: 0;
        }

    .nav-pills .nav-link {
        color: #777;
        border: 1px solid #1ab2b6;
        background: #fff;
        font-weight: bold;
    }

    th {
        padding-right: 18px;
        position: relative;
    }

    .table tr td {
        padding: 4px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    .table tr th {
        font-size: 12px;
        padding: 6px;
        background-color: #3F51B5;
        color: #fff;
    }


    th:before,
    th:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }

    th:before {
        border-bottom-color: #fff;
        margin-top: -9px;
    }

    th:after {
        border-top-color: #fff;
        margin-top: 1px;
    }

    .rep_table {
        overflow: auto;
        height: calc(100vh - 330px);
    }

    .select2-selection--single:focus, .select2-container--open .select2-selection--single {
        border: 1px solid #000;
        box-shadow: none;
        padding: 8px 10px;
        border-radius: 5px;
    }

    .select2-selection--single {
        padding: 8px 10px;
        line-height: 1.5385;
        color: #333;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .select2-search--dropdown .select2-search__field {
        padding: 8px 10px;
        padding-left: 2.0625rem;
        border: 1px solid #000;
        width: 100%;
    }

    .select2-search--dropdown:after {
        left: 20px;
    }

    .select2-search--dropdown {
        padding: 10px;
    }

    .select2-container--open .select2-dropdown--below {
        margin-top: 1px;
        width: 380px !important;
    }

    .counts-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 200px);
    }

    .card {
        margin-bottom: 0;
    }

    .s-label {
        font-size: 12px !important;
    }

    .st-cir-card .col {
        padding: 0;
    }

    .gs-body-div {
        height: calc(100vh - 200px);
    }

    .page-header-content {
        padding: 0 15px !important;
    }

    @media screen and (max-width: 1400px) {
        .progress {
            width: 50px;
            height: 50px;
        }

            .progress .progress-bar {
                border-width: 3px;
            }

        .card-blue .progress .progress-value .h6,
        .card-green .progress .progress-value .h6,
        .card-red .progress .progress-value .h6,
        .card-yellow .progress .progress-value .h6 {
            font-size: 10px;
        }

        .card-blue .progress::after,
        .card-green .progress::after,
        .card-red .progress::after,
        .card-yellow .progress::after {
            border: 3px solid rgba(0, 123, 255, 0.205);
        }

        .cumulative-counts label {
            font-size: 14px;
        }

        .s-label {
            font-size: 12px !important;
        }

        .cumulative-counts p {
            font-size: 12px;
        }

        .cumulative-counts h4 {
            font-size: 12px;
        }
    }
    /*Count Styles*/



    @media screen and (max-width: 1366px) {
        .form-control {
            height: 25px !important;
            padding: 0 10px;
        }

        .form-group label {
            margin-bottom: 0;
        }

        .select2-selection--single {
            height: 25px;
            padding: 4px 10px;
            line-height: 12px;
        }

        .btn {
            font-size: 12px;
            font-weight: bold;
            padding: 2px 10px;
        }

        .btn-info {
            padding: 2px 5px;
        }

        .table tr td {
            font-size: 10px;
        }

        .rep_table {
            overflow: auto;
            height: calc(100vh - 290px);
        }

        .cumulative-counts.card {
            margin-bottom: 5px;
            height: 65px;
            justify-content: center;
            padding: 10px 0;
            border-radius: 5px;
            box-shadow: 0 2px 8px #ccc;
        }

        .s-label {
            font-size: 10px !important;
        }

        .nav-pills .nav-link {
            padding: 4px 10px;
        }
    }

    @media screen and (max-width: 991px) {
        .col {
            -ms-flex-preferred-size: 0;
            flex-basis: auto;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }

        .cumulative-counts .col {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }

        .select2-container--open .select2-dropdown--below {
            margin-top: 1px;
            width: 200px !important;
        }

        .gs-body-div {
            height: auto;
        }
    }
</style>

<div class="container-fluid scheme px-0 py-1">
    <div class="row">
        <div class="card col-md-12 mb-1 shadow">
            <div class="card-body py-2">
                <div class="row align-items-center">

                    <div class="col">
                        <div class="form-group mb-0">
                            <label>Secretariat</label>
                            <select class="form-control" ng-model="selsecratariat">

                                <option value="{{obj.SECRETARIATE_CODE}}" ng-repeat="obj in SecretariatDD">{{obj.SECRETARIATEL_NAME}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mb-0">
                            <label>Department</label>
                            <select class="form-control select2" ng-model="selecteddepartment" id="changedep">
                                <option value="">-- ALL --</option>
                                <option value="{{obj.PS_SD_CODE}}" ng-repeat="obj in deptsList">{{obj.SD_NAME}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mb-0">
                            <label>Service</label>
                            <select class="form-control select2" id="changeser" ng-model="selectedservice">
                                <option value="">-- ALL --</option>
                                <option value="{{obj.URL_ID}}" ng-repeat="obj in servicesList">{{obj.URL_DESCRIPTION}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mb-0">
                            <label>From Date</label>
                            <input type="date" class="form-control" ng-model="fromdate" ng-change="changedate('1')" />
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mb-0">
                            <label>To Date</label>
                            <input type="date" class="form-control" ng-model="todate" ng-change="changedate('2')" />
                        </div>
                    </div>
                    <div class="col-md-1 pt-4">
                        <button type="button" class="btn btn-info" ng-click="GetData();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row shadow gs-body-div" ng-if="type=='7'">
        <div class="col-md-3 bg-light p-2 counts-div">

            <div class="cumulative-counts card card-blue st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="progress mx-auto" id="per1">
                                <span class="progress-left">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h6 font-weight-bold">{{SER_REQ_OPEN_PERCENTAGE | number:2}} %</div>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div>
                                <label class="text-center">Services Requests : <span>{{TOTAL_NO_OF_SER_REQ}}</span></label>
                                <div class="row d-flex justify-content-around">
                                    <div class="text-center">
                                        <p>Open</p>
                                        <h4>{{TOTAL_OPEN}}</h4>
                                    </div>
                                    <div class="text-center">
                                        <p>Closed</p>
                                        <h4>{{TOTAL_CLOSE}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="progress mx-auto" id="per2">
                                <span class="progress-left">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h6 font-weight-bold">{{SER_REQ_CLOSE_PERCENTAGE | number:2}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cumulative-counts card card-red st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="progress mx-auto" id="per3">
                                <span class="progress-left">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h6 font-weight-bold">{{TOTAL_OPEN_WITHIN_SLA_PER | number:2}} %</div>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div>
                                <label class="text-center">Open : {{TOTAL_OPEN}}</label>
                                <div class="row d-flex justify-content-around">
                                    <div class="text-center">
                                        <p>Within SLA</p>
                                        <h4>{{TOTAL_OPEN_WITHIN_SLA}}</h4>
                                    </div>
                                    <div class="text-center">
                                        <p>Beyond SLA</p>
                                        <h4>{{TOTAL_OPEN_BEYOND_SLA}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="progress mx-auto" id="per4">
                                <span class="progress-left">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h6 font-weight-bold">{{TOTAL_OPEN_BEYOND_SLA_PER | number:2}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cumulative-counts card card-green st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="progress mx-auto" id="per5">
                                <span class="progress-left">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h6 font-weight-bold">{{TOTAL_CLOSE_WITHIN_SLA_PER | number:2}} %</div>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div>
                                <label class="text-center">Closed : {{TOTAL_CLOSE}}</label>
                                <div class="row d-flex justify-content-around">
                                    <div class="text-center">
                                        <p>Within SLA</p>
                                        <h4>{{TOTAL_CLOSE_WITHIN_SLA}}</h4>
                                    </div>
                                    <div class="text-center">
                                        <p>Beyond SLA</p>
                                        <h4>{{TOTAL_CLOSE_BEYOND_SLA}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="progress mx-auto" id="per6">
                                <span class="progress-left">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-white"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h6 font-weight-bold">{{TOTAL_CLOSE_BEYOND_SLA_PER | number:2}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row px-2">
                <div class="card card-body p-0 shadow">
                    <div style="width: 100%; height: 200px;margin: 0 auto;">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9  table-div bg-white">
            <div class="card col-md-12">
                <div class="card-body p-0">
                    <div class="row">
                        <marquee class="w-75 mx-auto py-4" direction="left" behaviour="scroll"><h4 class="font-weight-bold text-danger">Default display values are last 10 days</h4></marquee>
                    </div>
                    <div>
                        <!--secretariat-->
                        <div>
                            <div class="row justify-content-between px-2">
                                <h4 class="mb-0">Secretariat Level Dashboard</h4>
                                <div class="input-group w-50">
                                    <div class="input-group-prepend px-2 mr-0" style="background-color: #26A69A;">
                                        <span class="input-group-text"><i class="mi mi-search text-white"></i></span>
                                    </div>
                                    <input type='text' class="form-control" ng-model='secretariatsearch' placeholder="Search here" style="border: 1px solid #26A69A; border-left:0;height:42px;" />


                                    <button align="right" class="btn bg-white ml-1" ng-click="ExcelDownload('SECRETARIAT');"><i class="icon icon-file-excel text-info" style="font-size:24px;"></i></button>
                                    <button value="PDF Download" align="right" class="btn bg-white ml-1" ng-click="Service6Export('SECRETARIAT');"><i class="icon icon-file-pdf text-info" style="font-size:24px;"></i></button>
                                </div>
                            </div>
                            <div class="table-responsive" id="SECRETARIAT">
                                <table class="table table-bordered">
                                    <thead class="bg-indigo">
                                        <tr align="center">
                                            <th>S.No.</th>
                                            <th ng-click="setOrderProperty('DEPT_NAME')" style="text-align:left">Department Name</th>

                                            <th ng-click="setOrderProperty('SERVICE_NAME')">Service Name</th>
                                            <th ng-click="setOrderProperty('SER_REQUESTED')">No Of Service Requests</th>
                                            <th ng-click="setOrderProperty('OPEN_WITHIN_SLA')" style="background-color: #4CAF50 !important">Open With in SLA</th>
                                            <th ng-click="setOrderProperty('OPEN_BEYOND_SLA')" style="background-color: #F44336 !important">Open Beyond SLA</th>
                                            <th ng-click="setOrderProperty('OPEN_BEYOND_SLA_PER')" style="background-color: #F44336 !important">Open Beyond SLA %</th>
                                            <th ng-click="setOrderProperty('CLOSED_WITHIN_SLA')">Closed With in SLA</th>
                                            <th ng-click="setOrderProperty('CLOSED_BEYOND_SLA')">Closed Beyond SLA</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="!loader && SecretariatWiseReport != ''">
                                        <tr ng-repeat="secobj in SecretariatWiseReport | orderBy:orderProperty | filter:secretariatsearch" align="center">
                                            <td>{{$index + 1}}</td>
                                            <td style="text-align:left">{{secobj.DEPT_NAME}}</td>
                                            <td>{{secobj.SERVICE_NAME}}</td>
                                            <td><a href="" ng-click="CountClick(secobj);">{{secobj.SER_REQUESTED}}</a></td>
                                            <td class="text-success">{{secobj.OPEN_WITHIN_SLA}} ({{secobj.OPEN_WITHIN_SLA_PER}} %)</td>
                                            <td class="text-danger">{{secobj.OPEN_BEYOND_SLA}}</td>
                                            <td class="text-danger">{{secobj.OPEN_BEYOND_SLA_PER}} %</td>
                                            <td>{{secobj.CLOSED_WITHIN_SLA}} ({{secobj.CLOSED_WITHIN_SLA_PER}} %)</td>
                                            <td>{{secobj.CLOSED_BEYOND_SLA}} ({{secobj.CLOSED_BEYOND_SLA_PER}} %)</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr align="center">
                                            <td colspan="3">TOTAL</td>
                                            <!--<td>{{TOTAL_STATUS_CLICKS}}</td>
                                            <td>{{TOTAL_REG_CLICKS}}</td>-->
                                            <td>{{TOTAL_NO_OF_SER_REQ}}</td>
                                            <td>{{TOTAL_OPEN_WITHIN_SLA}} ({{TOTAL_GRID_OPEN_WITHIN_SLA_PER | number:2}})</td>
                                            <td>{{TOTAL_OPEN_BEYOND_SLA}}</td>
                                            <td>{{TOTAL_GRID_OPEN_BEYOND_SLA_PER | number:2}}</td>
                                            <td>{{TOTAL_CLOSE_WITHIN_SLA}} ({{TOTAL_GRID_CLOSE_WITHIN_SLA_PER | number:2}})</td>
                                            <td>{{TOTAL_CLOSE_BEYOND_SLA}} ({{TOTAL_GRID_CLOSE_BEYOND_SLA_PER | number:2}})</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row shadow gs-body-div" ng-if="type=='8'">

        <div class="col-md-12  table-div bg-white">
            <div class="card col-md-12">
                <div class="card-body p-0">
                    <div class="row">
                        <marquee class="w-75 mx-auto py-4" direction="left" behaviour="scroll"><h4 class="font-weight-bold text-danger">Default display values are last 10 days</h4></marquee>
                    </div>
                    <div>


                        <div >
                            <div class="row justify-content-between px-2 mt-2">
                                <h4 class="mb-0">Service Level Dashboard</h4>
                                <div class="input-group  w-20" style="width:250px !important">
                                    <input type='button' class="form-control btn btn-secondary" ng-model='backbutton' ng-click="BackBtnClick();" value="Back" />
                                </div>
                                <div class="input-group w-50">
                                    <div class="input-group-prepend px-2 mr-0" style="background-color: #26A69A;">
                                        <span class="input-group-text"><i class="mi mi-search text-white"></i></span>
                                    </div>
                                    <input type='text' class="form-control" ng-model='servicesearch' placeholder="Search here" style="border: 1px solid #26A69A; border-left:0;height:42px;" />

                                    <button align="right" class="btn bg-white ml-1" ng-click="ExcelDownload('SERVICE');"><i class="icon icon-file-excel text-info" style="font-size:24px;"></i></button>
                                    <button value="PDF Download" align="right" class="btn bg-white ml-1" ng-click="Service6Export('SERVICE');"><i class="icon icon-file-pdf text-info" style="font-size:24px;"></i></button>
                                </div>
                            </div>
                            <div class="table-responsive" id="SERVICE">
                                <table class="table table-bordered">
                                    <thead class="bg-indigo">
                                        <tr align="center">
                                            <th>S.No.</th>
                                            <th ng-click="setOrderProperty('DEPT_NAME')" style="text-align:left">Department Name</th>
                                            <th ng-click="setOrderProperty('SERVICE_NAME')">Service Name</th>
                                            <th ng-click="setOrderProperty('GSWS_TXN_ID')">GSWS Transaction ID</th>
                                            <th ng-click="setOrderProperty('TXN_DATE')">Transaction Date</th>
                                            <th ng-click="setOrderProperty('TXN_CLOSED_DATE')">Transaction Close Date</th>
                                            <th ng-click="setOrderProperty('STATUS')">Status</th>

                                        </tr>
                                    </thead>
                                    <tbody ng-show="!loader && ServiceWiseReport != ''">
                                        <tr ng-repeat="secobj in ServiceWiseReport | orderBy:orderProperty | filter:servicesearch" align="center">
                                            <td>{{$index + 1}}</td>
                                            <td style="text-align:left">{{secobj.DEPT_NAME}}</td>
                                            <td>{{secobj.SERVICE_NAME}}</td>
                                            <td>{{secobj.GSWS_TXN_ID}}</td>
                                            <td>{{secobj.TXN_DATE |date:'dd/MM/yyyy' }}</td>
                                            <td>{{secobj.TXN_CLOSED_DATE |date:'dd/MM/yyyy'}}</td>
                                            <td>{{secobj.STATUS}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $("#pills-dept-tab").click(function () {
        $("#pills-dept-tab").addClass("active");
        $("#pills-service-tab").removeClass("active");

        $("#pills-sect-tab").removeClass("active");
    });
    $("#pills-service-tab").click(function () {
        $("#pills-dept-tab").removeClass("active");
        $("#pills-service-tab").addClass("active");

        $("#pills-sect-tab").removeClass("active");
    });

    //$("#pills-sect-tab").click(function () {
    //	$("#pills-dept-tab").removeClass("active");
    //	$("#pills-service-tab").removeClass("active");
    //	$("#pills-dist-tab").removeClass("active");
    //	$("#pills-mandal-tab").removeClass("active");
    //	$("#pills-sect-tab").addClass("active");
    //});
    $(document).ready(function () {
        $("#pills-dept-tab").addClass("active");
        $("#pills-service-tab").removeClass("active");
        $("#pills-sect-tab").removeClass("active");
    });
</script>

<script>
    $(document).ready(function () {
        $(".table").tableHeadFixer({
        });
        $('#changedep,#changeser').select2();
    })

</script>

