
<body ng-show="divmeeseva">
	 <div id="DYNAMICDATA"></div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
					<button type="submit" ng-click="submit(818);"> Integrated Certificate</button>
				</div>
				<div class="col-sm-6">
					<button type="submit" ng-click="submit(806);"> Income</button>

				</div>
				<div class="col-sm-6">
					<button type="submit" ng-click="submit(830);">Family Member</button>
				</div>

				<div class="col-sm-6">
					<button type="submit" ng-click="submit(828);"> OBC</button>
				</div>
				<div class="col-sm-6">
					<button type="submit" ng-click="submit(848);">Correction in adangal</button>
				</div>
			</div>
		</div>



</body>
