<style>
	.meeseva-btn button {
	white-space:inherit;
	height:100px;
	}
	
</style>
			<div class="container" ng-show="divmeeseva">

				<div class="row ">
					<div class="col-sm-12 mb-4 text-center">
						<h1> Meeseva Services</h1>
					</div>
					<div id="DYNAMICDATA"></div>
					<div class="col-sm-12 meeseva-btn">
						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(818);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">Integrated Certificate</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(806);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">Income</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(830);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">Family Member</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(828);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">OBC</button>
							</div>


						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(848);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">Corrections in adangal </button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(5081 );" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">ISSUANCE OF INCOME & ASSET CERTIFICATE FOR ECONOMICALLY WEAKER SECTIONS(EWS)</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(902);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									HOUSEHOLD HEAD MODIFICATIONS
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(5072 );" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">HVDS REGISTRATION</button>
							</div>

						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(812);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">PATTA SUB DIVISION</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(2058);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2"> ADDITION OF SURVEY NO IN ADANGAL AND 1 B</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(952);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">	SURRENDER OF RATION CARD </button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(5059);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">LAND CONVERSION (NEW)-GO MS NO 98</button>
							</div>
						</div>
						<div class="row mb-3">

							<div class="col-sm-3">
								<button ng-click="submit(909);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									ISSUE OF SMALL AND MARGINAL FARMER CERTIFICATE
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(824);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									AGRICULTURE INCOME CERTIFICATE
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(5045);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">CLAIMS UNDER ANDHRA PRADESH DOTTED LANDS(UPDATION IN RE-SETTLEMENT REGISTER) RULES,2017</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(879);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">POSSESSION CERTIFICATE </button>
							</div>



						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(826);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									NO EARNING CERTIFICATE
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(887);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									EXTRACT OF D FORM PATTA
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(829);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">MANUAL ADANGAL</button>
							</div>

							<div class="col-sm-3">
								<button ng-click="submit(1009);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">B. FINAL REGISTRATION OF NEW FRESH WATER AQUACULTURE FARM </button>
							</div>
						</div>
						<!--29 Nov 19 Service -->
						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(4096);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									APPLICATION FOR FINANCIAL ASSISTANCE TO CULTURAL ORGANIZATIONS
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(903);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									AGRICULTURAL LAND VALUE APPLICATION
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(803);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">ROR - 1B</button>
							</div>

							<div class="col-sm-3">
								<button ng-click="submit(802);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">COMPUTERIZED ADANGAL</button>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(854);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									PRINT RATION CARD
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(900);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									RATION CARD MODIFICATIONS (EPDS INTEGRATION)
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(3026);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									ISSUANCE OF VOTER/EPIC CARD
								</button>
							</div>

							<div class="col-sm-3">
								<button ng-click="submit(3027);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									NEW ISSUANCE OF VOTER/EPIC CARD(PVC)
								</button>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(5053);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									MODIFICATIONS IN 22 A LIST-22A-(1)(A)
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(5053);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									MODIFICATIONS IN 22 A LIST-22A-(1)(B)
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(5053);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									MODIFICATIONS IN 22 A LIST-22A-ENDOWNMENT(1)(C)
								</button>
							</div>

							<div class="col-sm-3">
								<button ng-click="submit(2064);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">REISSUANCE OF INTEGRATED CERTIFICATE </button>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-sm-3">
								<button ng-click="submit(815);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									ENCUMBRANCE CERTIFICATE
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(845);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									BIRTH CERTIFICATE - CDMA
								</button>
							</div>
							<div class="col-sm-3">
								<button ng-click="submit(845);" class="btn alpha-primary border-primary btn-block text-primary-800 btn-icon ml-2">
									DEATH CERTIFICATE - CDMA
								</button>
							</div>

						</div>

					</div>
					
					</div>



			</div>
			<!-- /content area -->
		
