<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gswsBackendAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Ver" value="1.0" />
    <add key="sitename" value="" />
    <add key="fMastername" value="F:\GSWS\Security Audit Code GSWS\Productioncode\gswsBackendAPI\gswsBackendAPI\" />
    <add key="srdhuser" value="apsrdh" />
    <add key="srdhpwd" value="apsrdh1" />
    <add key="spsuser" value="apsps" />
    <add key="spspwd" value="M0s9u1t0bat" />
  <add key="gsws" value="test_gsws" />
    <add key="gswspwd" value="test_gs" />
       <!-- <add key="gsws" value="praja_sachivalayam" />
    <add key="gswspwd" value="g$w$" /> -->
    <add key="youth_service_username" value="youth_service" />
    <add key="youth_service_password" value="youth_service" />
    <add key="youthRouterUrl" value="http://localhost:49851/api/db/executeProc" />
    <add key="gswsRouterUrl" value="http://10.96.46.137:49855/api/db/executeProc" />
    <add key="minpool" value="5" />
    <add key="maxpool" value="10" />
    <add key="youth_service_password" value="youth_service" />
 <add key="pgsws" value="praja_sachivalayam" />
    <add key="pgswspwd" value="g$w$" />
    <add key="ApiBaseAddress" value="https://npprod-apigateway.e-pragati.in/" />
    <add key="PRRDfilepath" value="PRRD/UploadImages/"/>
    <add key="TranslationPath" value="https://transserver.e-pragati.in"></add>
 
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState timeout="60" />
    <!--  <customErrors mode="On" defaultRedirect="~/UI/404.html">
      <error statusCode="400" redirect="~/UI/404.html" />
      <error statusCode="404" redirect="~/UI/404.html" />
      <error statusCode="403" redirect="~/UI/404.html" />
      <error statusCode="405" redirect="~/UI/404.html" />
      <error statusCode="406" redirect="~/UI/404.html" />
      <error statusCode="408" redirect="~/UI/404.html" />
      <error statusCode="412" redirect="~/UI/404.html" />
      <error statusCode="500" redirect="~/UI/500.html" />

    </customErrors>-->
  </system.web>
  <system.data>
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      </compilers>
    </system.codedom>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="400" subStatusCode="-1" />
      <error statusCode="400" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="405" subStatusCode="-1" />
      <error statusCode="405" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="406" subStatusCode="-1" />
      <error statusCode="406" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="408" subStatusCode="-1" />
      <error statusCode="408" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="412" subStatusCode="-1" />
      <error statusCode="412" prefixLanguageFilePath="" path="~/UI/404.html" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" prefixLanguageFilePath="" path="~/UI/500.html" responseMode="ExecuteURL" />
    </httpErrors>-->

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />


    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Powered-By" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
        <add name="Access-Control-Allow-Origin" value="*" />

        <add name="Access-Control-Allow-Headers" value="Accept,Accept-Encoding,Accept-Language,Cache-Control,Content-Type,Host,Origin,Pragma,Referer,User-Agent" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, OPTIONS" />
        <add name="Access-Control-Max-Age" value="1000" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <applicationSettings>
    <gswsBackendAPI.Properties.Settings>
      <setting name="gswsBackendAPI_UatMeeseva_MeesevaMobileWebservice"
        serializeAs="String">
        <value>http://uat.meeseva.gov.in/MeesevaMobileWebService/MeesevaMobileWebservice.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_minorityservice_MinorityService"
        serializeAs="String">
        <value>https://apwaqf.aponline.gov.in/minorityservice.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_MeesevaWebUAT_MeeSevaWebService"
        serializeAs="String">
        <value>http://uat.meeseva.gov.in/meesevawebservice/meesevawebservice.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_SerpBima_vvclaimstatus" serializeAs="String">
        <value>http://www.bima.ap.gov.in/services/vvclaimstatus.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_ClaimRegistration_ClaimRegistration"
        serializeAs="String">
        <value>http://bima.ap.gov.in/services/Claimregistration.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_SMSService_SMSService" serializeAs="String">
        <value>http://pushpm86.sps.ap.gov.in/EDACSMS/SMSService.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_RoadsComplaint_StatusCheck_ComplaintsSearchService"
        serializeAs="String">
        <value>https://tptuat.aponline.gov.in/APRDC/ComplaintsSearchService.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_WebLand_Revenue_WSPahani" serializeAs="String">
        <value>http://uatwebland.ap.gov.in/wspahani.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_Sadarem_ValidSadaremidService"
        serializeAs="String">
        <value>https://sadarem.ap.gov.in:443/Sadaremwebservice/ValidSadaremid</value>
      </setting>
      <setting name="gswsBackendAPI_EPantaService_getVillageData" serializeAs="String">
        <value>http://103.210.75.132/AreaSownServiceDetails/kharif2019ServiceDetails.php</value>
      </setting>
      <setting name="gswsBackendAPI_WRServiceAadhaarOTP83_WREKYCOTP"
        serializeAs="String">
        <value>http://push83.sps.ap.gov.in/WEBEKYCOTP/WREKYCOTP.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_Animal_AHAServices" serializeAs="String">
        <value>https://tptuat.aponline.gov.in/AHAService/AHAServices.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_walletOnePaymentService_ServicesRWMS"
        serializeAs="String">
        <value>http://103.14.188.80:8080/RWMService/services/ServicesRWMS.ServicesRWMSHttpSoap11Endpoint/</value>
      </setting>
      <setting name="gswsBackendAPI_Transport_ComplaintsStatusCheck_ComplaintsSearchService"
        serializeAs="String">
        <value>https://aprdc.ap.gov.in/ComplaintsSearchService.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_MeesevaProductionService_MeeSevaWebService"
        serializeAs="String">
        <value>https://apdept.meeseva.gov.in/meesevawebservice/meesevawebservice.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_RamInfoService_ServicesRWMS" serializeAs="String">
        <value>http://103.14.188.80:8080/RWMService/services/ServicesRWMS.ServicesRWMSHttpSoap11Endpoint/</value>
      </setting>
      <setting name="gswsBackendAPI_HousesiteWebservice_API" serializeAs="String">
        <value>http://navaratnalu-housesites.ap.gov.in/WebService/API.asmx</value>
      </setting>
      <setting name="gswsBackendAPI_RaminfoprodServce_ServicesRWMS"
        serializeAs="String">
        <value>http://125.21.84.205:8080/RWMService/services/ServicesRWMS.ServicesRWMSHttpSoap11Endpoint/</value>
      </setting>
      <setting name="gswsBackendAPI_UATSMSService_SMSService" serializeAs="String">
        <value>http://uat.gramawardsachivalayam.ap.gov.in/SMSAPP/SMSService.asmx</value>
      </setting>
    </gswsBackendAPI.Properties.Settings>
  </applicationSettings>
</configuration>