<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>గ్రామ-వార్డు సచివాలయము</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- CSS -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/flaticon/flaticon.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="assets/css/animate.css">
	<link rel="stylesheet" href="assets/css/slicknav.min.css">
	<link rel="stylesheet" href="assets/css/nav-menu.css">
	<link rel="stylesheet" href="assets/css/style-2.css">
	<link rel="stylesheet" href="assets/css/aos.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


		<![endif]-->

	<script type="text/javascript" language="javascript">
		function DisableBackButton() {
			window.history.forward(1)
		}
		DisableBackButton();
		window.onload = DisableBackButton;
		window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
		window.onunload = function () { void (0) }
	</script>
</head>

<body class="top" ng-app="GSWS" ng-controller="LoginMainController">
	<!-- <div id="preloader"></div> -->

	<div id="ht-preloader">
		<div class="clear-loader">
			<div class="loadimg"></div>
			<div class="loader">
				<div class="loader-div"></div>
			</div>
		</div>
	</div>

	<!-- Header Area -->
	<header class="header-area Saased-Header header_1">
		<div class="container">
			<div class="menu-area desktop-menu">
				<div class="row">
					<div class="col-md-6 col-sm col">
						<div class="logo">
							<a href="index.html" title="">
								<img src="assets/img/logo-1.png" alt="Logo">
							</a>
						</div>
					</div>

					<div class="col-md-6 col-sm col">
						<div class="main-menu">
							<nav>
								<ul id="mobile_menu" class="mainMenu">
									<li class="active"><a href="#!">Home</a></li>
									<li><a href="">About</a></li>
									<!-- <li><a href="">Navaratnalu</a></li> -->
									<li><a href="">Beneficiary</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="#!" class="sn-focused bottom" id="hide">Login</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-menu-area">
				<div class="responsive-menu-wrap mobile-menu text-right"></div>
			</div>
		</div>
	</header>
	<!-- /Header Area -->
	<!-- Slider Area -->
	<section class="hero-area heroV4">
		<div class="container">
			<div class="hero-content">
				<div class="row">
					<div class="col-md-7">
						<div class="hero-img heroImg-s3" data-aos="fade-up">
							<img src="assets/img/Cm-banner.png" alt="" class="hm_img6">
						</div>
					</div>
					<div class="col-md-5">
						<div class="testimonial-wrapper" id="text">
							<div class="testimonial-carousel owl-carousel owl-theme">
								<div class="item">
									<div class="single-testimonial">
										<div class="testi-text hero-text">
											<h2>గ్రామ - వార్డు సచివాలయము</h2>
											<p>సచివాలయాల ద్వారా ఇంటి ముంగిటకే పాలన...</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="single-testimonial">
										<div class="testi-text hero-text">
											<h2>గ్రామ - వార్డు సచివాలయము</h2>
											<p>సచివాలయాల ద్వారా ఇంటి ముంగిటకే పాలన...</p>
										</div>
									</div>
								</div>
							</div>


							<marquee><span class="text-white"> టెక్నికల్ సమస్యల పరిష్కారం  కొరకు టోల్ ఫ్రీ నెంబర్ ను సంప్రదించండి : 1902</span> </marquee>
						</div>

						<div class="hero-text login" id="login" style="visibility: visible; animation-duration: 1s; animation-name: fadeInDown; z-index: 99;position: relative;">
							<div class="card" data-aos="fade-left">
								<div class="card-body">
									<h3 class="text-center">గ్రామ - వార్డు సచివాలయము</h3>
									<div class="row justify-content-center">
										<div class="col-md-12 mt-3">
											<div class="pricing-button">
												<ul class="ptb-list">
													<li>
														<button id="employee-login" class="pt-filter-btn active">Employee Login</button>
													</li>
													<li>
														<button id="citizen-login" class="pt-filter-btn">Citizen Login</button>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-12">
											<div class="pricing-content">
												<div class="single-login employee-section">
													<div class="row">
														<div class="contact-formV1 login">
															<form method="post" action="#!" id="cf">
																<h4 class="text-center"><i class="fa fa-user"></i> Employee Login</h4>
																<div class="form-group row">
																	<div class="col-lg-12">
																		<input type="text" class="form-control user" id="username" name="username" placeholder="Username Here" required="">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-lg-12">
																		<input type="password" class="form-control password" id="password" name="password" placeholder="Password Here" required="">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-lg-6">
																		<div class="d-flex captcha">
																			<table id="captchdis">
																				<tbody></tbody>
																			</table>
																			&nbsp;&nbsp;&nbsp;&nbsp;
																			<a href="javascript:void(0);" title="click here to get new confirmation code" class="btn bg-primary-800 btn-round" ng-click="GetRefresh();"><i class="icon-reload-alt" aria-hidden="true"></i></a>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<input type="text" class="form-control" id="captcha" name="captcha" placeholder="Enter Captcha" required="">
																	</div>
																</div>

																<div class="form-group mb-2 text-center">
																	<button type="submit" id="submit" name="submit" class="cf-btn">
																		<i class="fa fa-sign-in flipInX"></i>
																		Login Now
																	</button>
																</div>
															</form>
														</div>
													</div>
												</div>
												<div class="single-login citizen-section">
													<div class="row">
														<div class="contact-formV1 login">
															<form method="post"  id="cf">
																<h4 class="text-center"><i class="fa fa-users"></i> Citizen Login</h4>
																<div class="form-group row">
																	<div class="col-lg-12">
																		<input type="text" class="form-control" id="aadhaar" name="aadhaar" placeholder="Aadhaar Number">
																	</div>
																</div>

																<div class="form-group row">
																	<div class="col-lg-6">
																		<div class="d-flex captcha">
																			<table id="captchdis">
																				<tbody></tbody>
																			</table>
																			&nbsp;&nbsp;&nbsp;&nbsp;
																			<a href="javascript:void(0);" title="click here to get new confirmation code" class="btn bg-primary-800 btn-round" ng-click="GetRefresh();"><i class="icon-reload-alt" aria-hidden="true"></i></a>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<input type="text" class="form-control" id="captcha" name="captcha" placeholder="Enter Captcha" required="">
																	</div>
																</div>
																

																<div class="form-group mb-2 text-center">
																	<button type="submit" id="submit" name="submit" class="cf-btn">
																		<i class="fa fa-envelope-open flipInX"></i>
																		Send OTP
																	</button>
																</div>
															</form>
														</div>
													</div>
												</div>

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- /Slider Area -->
	<!-- About Area -->
	<section class="about-area3 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="section-text" data-aos="zoom-in">
						<span class="st-title">గ్రామ - వార్డు సచివాలయము</span>
						<div class="section-title ml-0">
							<h3>సచివాలయాల ద్వారా ఇంటి ముంగిటకే పాలన...</h3>
						</div>
						<p>
							దేశంలో ఇప్ప‌టి వ‌ర‌కు ఎక్క‌డా లేని విధంగా ఆంధ్ర‌ప్ర‌దేశ్ ప్ర‌భుత్వం గ్రామ, వార్డు స‌చివాల‌యాల వ్య‌వ‌స్థ‌ను తెచ్చింది. అవినీతికి కానీ, వివ‌క్ష‌త‌కు కానీ తావు ఇవ్వ‌కూడ‌ద‌ని, ప‌రిపాల‌న అన్న‌ది ప్ర‌జ‌ల‌కు చేరువ కావాన‌ల్న ప్ర‌ధాన ఉద్దేశంతో
							రాష్ట్ర ముఖ్య‌మంత్రి వైయ‌స్ జ‌గ‌న్ మోహ‌న్ రెడ్డి గారు ఈ స‌చివాల‌య వ్య‌వ‌స్థ‌కు శ్రీ‌కారం చుట్టారు. జ‌న‌వ‌రి 1వ తేదీ నుంచి పూర్తి స్థాయిలో ప్రారంభ‌మ‌య్యే గ్రామ‌, వార్డు స‌చివాల‌యాల్లో దాదాపు 35 ప్ర‌భుత్వ శాఖ‌ల‌కు సంబంధించి 500
							సేవ‌లు అందుబాటులో ఉంటాయి. <br> <br> పింఛ‌న్ కావాల‌న్నా..రేష‌న్ కార్డు కావాల‌న్నా.. ఇంటి ప‌ట్టాలు కావాల‌న్నా.. తాగునీటి స‌ర‌ఫ‌రా స‌మ‌స్య ఉన్నా.. సివిల్ ప‌నుల‌కు సంబంధించిన ప‌నులు ఉన్నా.. వైద్యం కానీ..ఆరోగ్యం కానీ.. రెవెన్యూ
							కానీ.. భూముల స‌ర్వేకానీ.. శిశు సంక్షేమం కానీ.. వ్య‌వ‌సాయం కానీ.. ఉద్యాన‌వ‌నాల‌కు సంబంధించిన స‌మ‌స్య‌లు కానీ.. మార్కెంట్ కానీ.. ప‌శు సంర‌క్ష‌ణ కానీ.. డెయిరీ కానీ, పౌల్ట్రీ రంగాల సేవ‌లు కానీ.. ఇలాంటివెన్నో గ్రామ స‌చివాల‌యాల్లో
							అర్జీ పెట్టుకున్న 72 గంట్లోనే స‌మ‌స్య‌ను ప‌రిష్క‌రిస్తారు. <br> <br> అర్హ‌త ఉన్న ఏ ఒక్క‌రూ త‌మ‌కు ప్ర‌భుత్వ సంక్షేమ ఫ‌లాలు అంద‌లేద‌ని బాధ‌ప‌డే స‌మ‌స్య ఇక‌పై ఉండ‌దు. ప్ర‌తి పేద‌వాడి ముఖంలో చిరున‌వ్వు చూడాల‌న్న‌దే ఈ ప్ర‌భుత్వ
							ల‌క్ష్యం. ప్ర‌జ‌ల కోసం ఏర్పాటు చేసిన ఈ గ్రామ స‌చివాల‌యాల‌ను ప్ర‌జలు బాగా స‌ద్వినియోగం చేసుకోవాలి. ఇది ప్ర‌జ‌ల ప్ర‌భుత్వం! ప్ర‌జా సంక్షేమం ఈ ప్ర‌భుత్వ ల‌క్ష్యం!!
						</p>
						<!-- <div class="section-btn">
							<a href="#!" class="btn-style-1">Read More..</a>
						</div> -->
					</div>
				</div>
				<div class="col-md-4 d-flex justify-content-center align-items-center">
					<div class="section-img about6-img " data-aos="flip-right">
						<img src="assets/img/Grama - Ward Sachivalayam Logo.png" class="img-fluid" width="80%" alt="">
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- /About Area -->
	<!-- Counter Area -->
	<section class="counter-area">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="section-text" data-aos="fade-right">

						<video width="100%" height="350px" autoplay muted="" controls>
							<source src="assets/img/Navaratnalu-Video.mp4" type="video/mp4">
						</video>

					</div>
				</div>
				<div class="col-md-7">
					<div class="counter-up-wrapper">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>
										<div class="single-counter-up">
											<div class="scu-icon">
												<i class="flaticon-employee"></i>
											</div>
											<div class="scu-counter">
												<span class="counter-up">161169</span>
												<p>Grama-Ward Secretariat Staff</p>
											</div>
										</div>
									</td>
									<td>
										<div class="single-counter-up">
											<div class="scu-icon">
												<i class="flaticon-network"></i>
											</div>
											<div class="scu-counter">
												<span class="counter-up">246772</span>
												<p>Grama-Ward Volunteers</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="single-counter-up">
											<div class="scu-icon">
												<i class="flaticon-analytics-1"></i>
											</div>
											<div class="scu-counter">
												<span class="counter-up">540</span>
												<p>Services</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="single-counter-up">
											<div class="scu-icon">
												<i class="flaticon-analytics-1"></i>
											</div>
											<div class="scu-counter">
												<span class="counter-up">0</span>
												<p>Services Delivered</p>
											</div>
										</div>
									</td>
									<td>
										<div class="single-counter-up">
											<div class="scu-icon">
												<i class="flaticon-interview"></i>
											</div>
											<div class="scu-counter">
												<span class="counter-up">926326</span>
												<p>Spandana Grievances Redressed</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Counter Area -->
	<!-- Navaratnalu Area-->
	<section class="navaratnalu-area">
		<div class="container">

			<div class="row">

			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="section-text" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="navaratnalu-0" role="tabpanel" aria-labelledby="navaratnalu-0-tab">
								<span class="st-title">నవరత్నాలు</span>
								<h3>ప్రతి ఇంటికి నవరత్నాలు</h3>
								<p>
									పల్లె నవ్వింది.. మహాత్ముడి ఆశయం నెరవేరుతోందని. ఊరు ఊపిరి తీసుకుంది. ఇక పట్టణంపై గ్రామం ఆధారపడనక్కర్లేదని. జాతిపిత 150వ జయంతి నాడు దేశం కొత్త సందేశం అందుకుంది.. గ్రామ సచివాలయ వ్యవస్థ ప్రాణం పోసుకుందని. సిక్కోలు చరిత్రలో
									కొత్త అధ్యాయం మొదలైంది. గ్రామ పాలనకు శ్రీకారం చుడుతూ బుధవారం జిల్లావ్యాప్తంగా 835 సచివాలయాలు ఏర్పాటు కానున్నాయి. ఇక పనులు ఆలస్యమవుతాయని బాధ ఉండదు. పేదవాడికి సంక్షేమం అందదనే బెంగ ఉండదు.
								</p>
							</div>
							<div class="tab-pane fade" id="navaratnalu-1" role="tabpanel" aria-labelledby="navaratnalu-1-tab">
								<span class="st-title">ఆరోగ్యశ్రీ</span>
								<h3>నవరత్నాలు</h3>
								<p>
									ఆరోగ్యశ్రీ ద్వారా ప్రతి కుటుంబానికి ఏటా రూ.1 లక్ష నుంచి రూ.10 లక్షల వరకూ మేలు జరుగుతుంది అంచనా. వైద్యం ఖర్చు రూ. వెయ్యి దాటితే ఆరోగ్యశ్రీ పరిధిలోకి తెస్తారు. ఎన్ని లక్షలు ఖర్చయినా ఆరోగ్యశ్రీ ద్వారానే ఉచిత వైద్యం అందిస్తారు.
									హైదరాబాద్, బెంగుళూరు, చెన్నైతో పాటు ఎక్కడ వైద్యం చేయించుకున్నా ఆరోగ్య శ్రీ వర్తిస్తుంది. అన్ని రకాల వ్యాధులు, ఆపరేషన్లను దీని పరిధిలోకి తెస్తారు. ఆపరేషన్‌ చేయించుకున్న లేదా జబ్బు చేసిన వ్యక్తికి చికిత్స తర్వాత విశ్రాంతి
									సమయంలో ఆర్థిక చేయూతనందిస్తారు. కిడ్నీవ్యాధి, తలసేమియాతోపాటు దీర్ఘకాలిక వ్యాధులతో బాధపడేవారికి ప్రతినెలా రూ.10 వేలు పింఛన్‌ ఇస్తారు.
								</p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-2" role="tabpanel" aria-labelledby="navaratnalu-2-tab">
								<span class="st-title">జలయజ్ఞం</span>
								<h3>నవరత్నాలు</h3>
								<p>లక్షలాది రైతు కుటుంబాలకు ఈ పథకం ద్వారా ఎంతో మేలు జరుగుతుంది. పోలవరం సహా అన్ని ప్రాజెక్టులను యుద్ధప్రాతిపదికన పూర్తి చేసి రైతుల లోగిళ్లలో సిరులు నింపుతారు.</p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-3" role="tabpanel" aria-labelledby="navaratnalu-3-tab">
								<span class="st-title">అమ్మఒడి</span>
								<h3>నవరత్నాలు</h3>
								<p>పిల్లలను బడికి పంపే ప్రతి తల్లికి ఏడాదికి రూ.15 వేలు అమ్మఒడి పథకం ద్వారా అందిస్తారు. ప్రతి తల్లి తన పిల్లలను సంతోషంగా స్కూల్ పంపడానికి, బాలల భవిష్యత్తుకు మంచి పునాది ఏర్పాటు చేయడమే ఈ పథకం లక్ష్యం </p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-4" role="tabpanel" aria-labelledby="navaratnalu-4-tab">
								<span class="st-title">ఫీజు రీయింబర్స్‌మెంట్‌</span>
								<h3>నవరత్నాలు</h3>
								<p>
									పేదవాడి చదువుకయ్యే ఖర్చును ప్రభుత్వం పూర్తిగా భరిస్తుంది. దీని ద్వారా ప్రతి కుటుంబానికి ఏడాదికి రూ.1 లక్ష నుంచి రూ. 1.50 లక్షల వరకు ప్రయోజనం చేకూరుతుంది. ఈ మొత్తం కాకుండా విద్యార్థులకు వసతి, భోజనం కోసం ఏటా అదనంగా రూ. 20
									వేలు ఇస్తారు.
								</p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-5" role="tabpanel" aria-labelledby="navaratnalu-5-tab">
								<span class="st-title">పేదలందరికీ ఇళ్లు</span>
								<h3>నవరత్నాలు</h3>
								<p>
									ఈ పథకం వల్ల ప్రతి కుటుంబానికి రూ.2 లక్షల నుంచి 5 లక్షల వరకూ ప్రయోజనం చేకూరుతుంది. ఇల్లులేని పేదలందరికీ పక్కా ఇళ్లు కట్టిస్తారు. ఐదేళ్లలో 25లక్షల పక్కా ఇళ్లు కట్టాలన్నది లక్ష్యం. ఇల్లు ఇచ్చే రోజునే ఆ ఇంట్లోని అక్కచెల్లెమ్మ
									పేరుతో రిజిస్ట్రేషన్‌ చేస్తారు. అవసరమైతే ఆ ఇంటి మీద పావలా వడ్డీకే బ్యాంకులో రుణం ఇప్పిస్తారు.
								</p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-6" role="tabpanel" aria-labelledby="navaratnalu-6-tab">
								<span class="st-title">పింఛన్ల పెంపు</span>
								<h3>నవరత్నాలు</h3>
								<p>
									ఈ పథకం ద్వారా ప్రతి కుటుంబానికి ఏటా రూ.24,000 నుంచి రూ.48,000 వరకు ప్రయోజనం చేకూరుతుంది. ప్రస్తుతం పింఛన్‌ తీసుకోవ డానికి ఉన్న వయసును 65 ఏళ్ల నుంచి 60 ఏళ్లకు తగ్గిస్తారు. అవ్వతాతలకు నెలకు రూ.2000, ఇస్తూ దానిని రూ.3 వేలకు
									పెంచుకుంటూ పోతాము. దివ్యాంగులకు రూ.3000 పింఛన్‌ అందిస్తారు.
								</p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-7" role="tabpanel" aria-labelledby="navaratnalu-7-tab">
								<span class="st-title">వైయ‌స్ఆర్‌ రైతు భరోసా</span>
								<h3>నవరత్నాలు</h3>
								<p>
									ఈ పథకంతో రైతన్న కుటుంబానికి ఏటా రూ.12,500 నుంచి రూ.లక్ష వరకూ ప్రయోజనం ఉంటుంది. ఉచిత బోర్లు వేయించడం, ఉచిత విద్యుత్‌ అందించడం, సున్నావడ్డీకి రుణాలు, రైతులు వాడే ట్రాక్టర్లపై రోడ్‌ ట్యాక్స్‌ మాఫీ ఇందులో వర్తించే అంశాలే. ప్రభుత్వం
									ఏర్పడ్డ రెండో ఏడాది నుంచి మే నెలలో పెట్టుబడి కోసం ఏడాదికి రూ.12,500 చొప్పున వరుసగా నాలుగేళ్లు అందిస్తారు. వ్యవసాయానికి పగలే 9 గంటల పాటు ఉచిత విద్యుత్‌ సరఫరా చేస్తారు. ఆక్వా రైతులకు కరెంట్‌ చార్జీలను యూనిట్‌కు రూ.1.50కు
									తగ్గిస్తారు. రూ.3 వేల కోట్లతో ధరల స్థిరీకరణ నిధి, రూ.4 వేల కోట్లతో ప్రకతి వైపరీత్యాల సహాయ నిధి ఉంటుంది. ప్రతి నియోజకవర్గంలో శీతలీకరణ గిడ్డంగులు, అవసరమైతే ఆహారశుద్ధి యూనిట్లను ఏర్పాటు చేస్తారు. అధికారంలోకి వచ్చిన మొదటి
									ఏడాది సహకార రంగాన్ని పునరుద్ధరించి.. రెండో ఏడాది నుంచి సహకార డైరీలకు పాలుపోసే పాడి రైతులకు లీటర్‌కు రూ.4 సబ్సిడీ ఇస్తారు. ఆత్మహత్య చేసుకున్న రైతు కుటుంబాలకు వైఎస్సార్‌ బీమా ద్వారా రూ.5 లక్షలు చెల్లిస్తారు. ఆ మొత్తాన్ని
									అప్పులవాళ్లు తీసుకోకుండా చట్టం చేస్తారు.
								</p>
							</div>

							<div class="tab-pane fade" id="navaratnalu-8" role="tabpanel" aria-labelledby="navaratnalu-8-tab">
								<span class="st-title">వైయ‌స్ఆర్‌ ఆసరా</span>
								<h3>నవరత్నాలు</h3>
								<p>
									ఈ పథకం కింద వచ్చే ఎన్నికల రోజు వరకు ఉన్న పొదుపు సంఘాల రుణం మొత్తాన్ని నాలుగు దఫాలుగా అక్కచెల్లెమ్మల చేతికే నేరుగా ఇస్తారు. అంతేకాకుండా సున్నా వడ్డీకే రుణాలు ఇప్పిస్తారు. ఆ వడ్డీ డబ్బును ప్రభుత్వమే బ్యాంకులకు చెల్లిస్తుంది.
									దీనివల్ల ప్రతి కుటుంబానికి ఏడాదికి రూ.50 వేల వరకు ప్రయోజనం చేకూరుతుంది. అదేవిధంగా వైఎస్సార్‌ చేయూత ద్వారా 45 ఏళ్లు నిండిన బీసీ, ఎస్సీ, ఎస్టీ, మైనార్టీ మహిళలకు పింఛన్లు ఇస్తారు. ప్రభుత్వం అధికారంలోకి వచ్చిన రెండో ఏడాది
									నుంచి నాలుగేళ్లలో రూ.75 వేలు దశలవారీగా ఆయా కార్పొరేషన్ల ద్వారా ఉచితంగా అందిస్తారు.
								</p>

							</div>

							<div class="tab-pane fade" id="navaratnalu-9" role="tabpanel" aria-labelledby="navaratnalu-9-tab">
								<span class="st-title">మద్యంపై నిషేధం</span>
								<h3>నవరత్నాలు</h3>
								<p>మూడు దశల్లో మద్యాన్ని నిషేధించి, మధ్యాన్ని 5 స్టార్ హోటల్స్‌కి మాత్రమే పరిమితం చేయడం.</p>
							</div>

						</div>

					</div>
				</div>
				<div class="col-md-6 navaratnalu-bg">
					<div class="navaratnalu-logo" data-aos="zoom-out-left">
						<ul class="ilogo-list nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							<li>
								<a class="active" id="navaratnalu-1-tab" data-toggle="pill" href="#navaratnalu-1" role="tab" aria-controls="navaratnalu-1" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/arogyasri_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-2-tab" data-toggle="pill" href="#navaratnalu-2" role="tab" aria-controls="navaratnalu-2" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/jalayagnam_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-3-tab" data-toggle="pill" href="#navaratnalu-3" role="tab" aria-controls="navaratnalu-3" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/ammavodi_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-4-tab" data-toggle="pill" href="#navaratnalu-4" role="tab" aria-controls="navaratnalu-4" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/fee_reimbursement_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-5-tab" data-toggle="pill" href="#navaratnalu-5" role="tab" aria-controls="navaratnalu-5" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/paydalandariki_illu_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-6-tab" data-toggle="pill" href="#navaratnalu-6" role="tab" aria-controls="navaratnalu-6" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/pension_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-7-tab" data-toggle="pill" href="#navaratnalu-7" role="tab" aria-controls="navaratnalu-7" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/ysr_rythubharosa_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-8-tab" data-toggle="pill" href="#navaratnalu-8" role="tab" aria-controls="navaratnalu-8" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/ysr_asara_64.png" alt=""></a>
							</li>
							<li>
								<a class="" id="navaratnalu-9-tab" data-toggle="pill" href="#navaratnalu-9" role="tab" aria-controls="navaratnalu-9" aria-selected="true"><img src="assets/img/navaratnalu/Colors64/alcohol_ban_64.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Navaratnalu Area-->
	<!-- Footer Area -->
	<footer class="footer-area">
		<div class="footer-widgeet-area">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="footer-links-wrapper row">

							<div class="col-md-3 footer-widget footer-text footer-links">
								<h4>Our Manifesto</h4>
								<ul class="fl-list">
									<li><a href="assets/ysrcp_manifesto_Details.pdf" target="_blank">Manifesto</a></li>
								
								</ul>
</div>
							<div class="col-md-2 footer-widget footer-links">
								<h4>Sitemap</h4>
								<ul class="fl-list">
									<li><a href="#!">Home</a></li>
									<li><a href="#!">About Us</a></li>
									<li><a href="#!">Navaratnalu</a></li>
									<li><a href="#!">Dashboard</a></li>
									<li><a href="#!">Infrastructure</a></li>
									<li><a href="#!">Contact Us</a></li>
								</ul>
							</div>
							<div class="col-md-3 footer-widget footer-links">
								<h4>Useful Links</h4>
								<ul class="fl-list">
									<li><a href="#!">Sachivalayam Team</a></li>
									<li><a href="#!">Terms & Conditions</a></li>
									<li><a href="#!">News & Updates</a></li>
									<li><a href="#!">Privacy Policy</a></li>
									<li><a href="#!">Help</a></li>
								</ul>
							</div>

							<div class="col-md-4 footer-widget footer-text footer-links">
								<h4>Reach Us</h4>
								<ul class="fl-address contact">
									<!-- <li><i class="fa fa-map-marker" aria-hidden="true"></i> <p>RTGS(Real Time Governance Society),
											Block-1, A.P. Secretariat,
											Velagapudi, Amaravati.</p></li> -->
									<li>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<p>gsws-support@ap.gov.in</p>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<p>1902</p>
									</li>
									<!-- <li class="social"><a href="" class="btn btn-sm facebook"><i class="fa fa-facebook"></i></a>
											<a href="" class="btn btn-sm twitter"><i class="fa fa-twitter"></i></a>
											<a href="" class="btn btn-sm instagram"><i class="fa fa-instagram"></i></a>
											<a href="" class="btn btn-sm youtube"><i class="fa fa-youtube"></i></a>
											<a href="" class="btn btn-sm google"><i class="fa fa-google-plus"></i></a>
										</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-md-12">
						<div class="footer-logo" data-aos="fade-up" data-aos-duration="3000">
							<img src="assets/img/logo-1.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>
							© 2019 All Rights Reserved by <a href="https://www.apts.gov.in/" target="_blank"> APTS</a>
							<!-- Start of CuterCounter Code -->
							<a href="#!" target="_blank" class="text-white float-right">Visitors : <img src="https://www.cutercounter.com/hits.php?id=gvcpkdq&nd=6&style=11" border="0" alt="visitor counter"></a>
							<!-- End of CuterCounter Code -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Area -->
	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="assets/js/jquery-ui.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/countdown.js"></script>
	<script src="assets/js/jquery.scrollUp.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/jquery.slicknav.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/theme.js"></script>
	<script src="assets/js/aos.js"></script>
	<script src="../JS_Modules/Libraries/angular.min.js"></script>
	<script src="../JS_Modules/Libraries/sha256.js"></script>
	<script src="../JS_Modules/Libraries/network.js"></script>
	<script src="assets/LoginJs.js"></script>
	<script>
		AOS.init();
	</script>
</body>

</html>