<style>
	/*Loader*/
	.loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../images/loader.gif') 50% 50% no-repeat #fff;
	}
</style>

<div class="container">
	<div class="loader" ng-show="preloader"></div>
	<section class="scheme">


		<div class="col-md-12" align="center" style="margin-top:10px">
			<h3><b style="border-bottom:5px solid black">YSR PELLI KAANUKA STATUS CHECK</b></h3>
		</div>
		<div class="col-md-12" style="margin-top:40px">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<b>Enter BRIDE/GROOM AADHAAR NUMBER [OR] REG.ID</b>
					<input type="text" maxlength="12" ng-model="txtcertid" placeholder="Enter Bride/Groom Aadhaars [or] Reg.ID" class="form-control" />
				</div>
				<div class="col-md-3" style="margin-top:22px">
					<button class="btn btn-primary" id="btnGetReport" ng-click="getdetails()">Get Details</button>
					<button class="btn btn-danger" id="btnreset" ng-click="Refresh()">Reset</button>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="padding-top:20px;" ng-show="preloader" align="center">
			<img src="assets/images/psloader.gif" />
		</div>
		<div class="col-md-12" style="margin-top:30px" ng-show="detailsshow">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<b>Current Status::</b> {{details.STATUS}}

				</div>
			</div>
			<div class="row" style="margin-top:10px">
				<div class="col-md-4">
					<table class="table table-bordered">
						<tr><td colspan="2" align="center"><b style="color:red">BRIDE DETAILS</b></td></tr>
						<tr>
							<td><b>BRIDE NAME</b></td>
							<td>{{details.B_FULLNAME}}</td>
						</tr>
						<tr>
							<td><b>BRIDE UID</b></td>
							<td>{{details.B_UID_NUM}}</td>
						</tr>
						<tr>
							<td><b>BRIDE MOBILE NO</b></td>
							<td>{{details.B_ALTERNATEMOBILENUMBER}}</td>
						</tr>
						<tr>
							<td><b>BRIDE FATHER NAME</b></td>
							<td>{{details.B_FATHERNAME}}</td>
						</tr>
						<tr>
							<td><b>BRIDE ADDRESS</b></td>
							<td>{{details.B_ADDRESS}}</td>
						</tr>
						<tr>
							<td><b>FIELD VERIFICATION</b></td>
							<td>{{details.B_FV_STATUS}}</td>
						</tr>
					</table>
				</div>

				<div class="col-md-4">
					<table class="table table-bordered">
						<tr><td colspan="2" align="center"><b style="color:red">GROOM DETAILS</b></td></tr>
						<tr>
							<td><b>GROOM NAME</b></td>
							<td>{{details.G_FULLNAME}}</td>
						</tr>
						<tr>
							<td><b>GROOM UID</b></td>
							<td>{{details.G_UID_NUM}}</td>
						</tr>
						<tr>
							<td><b>GROOM MOBILE NO</b></td>
							<td>{{details.G_ALTERNATEMOBILENUMBER}}</td>
						</tr>
						<tr>
							<td><b>GROOM FATHER NAME</b></td>
							<td>{{details.G_FFATHERNAME}}</td>
						</tr>
						<tr>
							<td><b>GROOM ADDRESS</b></td>
							<td>{{details.G_ADDRESS}}</td>
						</tr>
						<tr>
							<td><b>FIELD VERIFICATION</b></td>
							<td>{{details.G_FV_STATUS}}</td>
						</tr>
					</table>
				</div>

				<div class="col-md-4">
					<table class="table table-bordered">
						<tr><td colspan="2" align="center"><b style="color:red">MARRIAGE DETAILS</b></td></tr>
						<tr>
							<td><b>MARRIAGE DATE</b></td>
							<td>{{details.MARRIAGEDATE}}</td>
						</tr>
						<tr>
							<td><b>MARRIAGE TIME</b></td>
							<td>{{details.MARRIAGETIME}}</td>
						</tr>
						<tr>
							<td><b>VENUE ADDRESS</b></td>
							<td>{{details.VENUE_ADDRESS}}</td>
						</tr>
						<tr>
							<td><b>MARRIAGE VERIFICATION STATUS</b></td>
							<td>{{details.MV_STATUS}}</td>
						</tr>
						<tr>
							<td><b>MARRIAGE VERIFICATION REASON</b></td>
							<td>{{details.MV_REJECTED_REASON}}</td>
						</tr>
						<tr>
							<td><b>MARRIAGE VERIFICATION STATUS</b></td>
							<td>{{details.IMG_REVERF_STATUS}}</td>
						</tr>
						<tr>
							<td><b>MARRIAGE VERIFICATION REASON</b></td>
							<td>{{details.IMG_REVERF_REASON}}</td>
						</tr>
						<tr>
							<td><b></b></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>

</div>

