<style>

	/*Loader*/
	.loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../images/loader.gif') 50% 50% no-repeat #fff;
	}
</style>
<style>
	.card {
		box-shadow:0px 5px 10px rgba(0,0,0,0.3);
	}
	.card-body {
		padding: 1.25rem 1.25rem 0.25rem 1.25rem !important;
	}
</style>
<div class="page-content">
	<div data-ng-show="preloader" class="loader"></div>
	<!-- Main content -->
	<div class="content-wrapper">
		<!-- Content area -->
		<div class="content">
			<div class="container-fluid">
				<div class="row mb-5">
					<div class="col-sm-12 text-center mb-4">
						<h1 style="text-align: center;">URL Insertion Page</h1>
					</div>
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<!--Row 1-->
								<div class="form-group row mb-0">
									<div class="col-md-4">
										<label class="col-form-label"><b>Department :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selDept" data-ng-change="LoadHODs();">
												<option selected="selected" value="">-Select-</option>
												<option data-ng-repeat="dep in DepartmentDD" value="{{dep.PS_SD_CODE}}">{{dep.SD_NAME}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<label class="col-form-label"><b>HOD :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selHOD" data-ng-change="LoadServices();">
												<option selected="selected" value="">-Select-</option>
												<option data-ng-repeat="dep in HODDD" value="{{dep.PS_HOD_CODE}}">{{dep.HOD_NAME}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<label class="col-form-label"><b>Service :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selservice" data-ng-change="">
												<option selected="selected" value="">-Select-</option>
												<option data-ng-repeat="dep in ServicesDD" value="{{dep.SCHEME_ID}}">{{dep.SCHEME}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Type of Request :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="reqtype" data-ng-change="">
												<option selected="selected" value="">-Select-</option>
												<option value="1">Registration/Verification</option>
												<option value="2">Edit/Delete</option>
												<option value="3">Check Status</option>
												<option value="4">Service Delivery/Charge collection</option>
												<option value="5">Transaction History</option>
											</select>
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>URL :</b><span style="color:red"> *</span></label>
										<div>
											<input type="text" data-ng-model="Enteredurl" class="form-control" placeholder="Enter URL">
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>URL Description:</b><span style="color:red"> *</span></label>
										<div>
											<input type="text" data-ng-model="Enteredurldesc" class="form-control" placeholder="Enter URL">
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Telugu URL Description :</b><span style="color:red"> *</span></label>
										<div>
											<input type="text" data-ng-model="EnteredTeluguurldesc" class="form-control" placeholder="Enter Telugu Url Description">
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Username:</b></label>
										<div>
											<input type="text" data-ng-model="username" class="form-control" placeholder="Enter Username">
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Password:</b></label>
										<div>
											<input type="text" data-ng-model="password" class="form-control" placeholder="Enter Password">
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Type of Service :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selservicetype" data-ng-change="">
												<option selected="selected" value="">-Select-</option>
												<option value="0">API</option>
												<option value="1">URL</option>
											</select>
										</div>
									</div>

									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Rural Designation:</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selruraldesignation">
												<option selected="selected" value="">-Select-</option>
												<option value="101">Panchayat Secretary</option>
												<option value="102">VRO</option>
												<option value="103">Survey Assistant</option>
												<option value="104">ANM</option>
												<option value="105">Veterinary/Fisheries Assistant</option>
												<option value="106">Mahila Police & Women and child welfare Assistant</option>
												<option value="107">Engineering Assistant</option>
												<option value="108">Engineering Assistant</option>
												<option value="109">Agriculture / Horticulture MPEO's</option>
												<option value="110">Digital Assistant</option>
												<option value="111">Welfare & Educational Assistant</option>
												
											</select>
										</div>
									</div>
									<div class="col-md-4" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Urban Designation:</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selurbandesignation">
												<option selected="selected" value="">-Select-</option>
												<option value="201">Ward Administrative Secretary</option>
												<option value="202">Ward Amenities Secretary</option>
												<option value="203">Ward Sanitation& Environment Secretary</option>
												<option value="204">Ward Education Secretary</option>
												<option value="205">Ward Planing& Regulation Secretary</option>
												<option value="206">Ward Welfare & Development Secretary</option>
												<option value="207">Ward Energy Secretary</option>
												<option value="208">Ward Health Secretary</option>
												<option value="209">Ward Revenue Secretary</option>
												<option value="210">Ward Women & Weaker Sections Protection Secretary</option>
											</select>
										</div>
									</div>

									<div class="col-md-3" style="margin-top:20px;">
										<label class="col-lg-6 col-form-label"><b>Access Level:</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selaccesslvl" data-ng-change="changeaccesslvl();">
												<option selected="selected" value="">-Select-</option>
												<option value="0">State (or) All</option>
												<option value="1">District</option>
												<option value="2">Mandal</option>
												<option value="3">Panchayath</option>
											</select>
										</div>
									</div>
									<div class="col-md-3" style="margin-top:20px;" data-ng-show="divdistrict">
										<label class="col-lg-6 col-form-label"><b>District :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="seldistrict">
												<option selected="selected" value="">-Select-</option>
												<option data-ng-repeat="dis in DistricsDD" value="{{dis.LGD_DISTRICT_CODE}}">{{dis.LGD_DISTRICT_NAME}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-3" style="margin-top:20px;" data-ng-show="divmandal">
										<label class="col-lg-6 col-form-label"><b>Rural/Urban :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selruflag" data-ng-change="LoadMadals();">
												<option selected="selected" value="">-Select-</option>
												<option value="R">Rural</option>
												<option value="U">Urban</option>
											</select>
										</div>
									</div>
									<div class="col-md-3" style="margin-top:20px;" data-ng-show="divmandal">
										<label class="col-lg-6 col-form-label"><b>Mandal :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selmandal" data-ng-change="LoadPachayats();">
												<option selected="selected" value="">-Select-</option>
												<option data-ng-repeat="man in MandalsDD" value="{{man.LGD_MANDAL_CODE}}">{{man.LGD_MANDAL_NAME}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-3" style="margin-top:20px;" data-ng-show="divvillage">
										<label class="col-lg-6 col-form-label"><b>Panchayat :</b><span style="color:red"> *</span></label>
										<div>
											<select class="form-control" data-ng-model="selpanchayath" data-ng-change="">
												<option selected="selected" value="">-Select-</option>
												<option data-ng-repeat="pan in PanchayatDD" value="{{pan.LGD_PANCHAYAT_CODE}}">{{pan.LGD_PANCHAYAT_NAME}}</option>
											</select>
										</div>
									</div>
								</div>
								<!--Row 2-->
								<div style="margin-top:20px;text-align:center">
									<button type="submit" data-ng-click="Savedata();" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>